*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: space-evenly;
    align-items:center;
}



.undraw{
   flex:1 1 25rem;
   margin-left: 9rem;
   margin-bottom: 7rem;

}
section{
    flex:1 1 25rem;
    margin-bottom: 26rem;
    margin-right: 10rem;

}
span{
    color: #84fc84;
    font-size: 2.5rem;
    font-weight:bolder;
}
img{
    width: 90%;
}






body{
background-image: linear-gradient(120deg, #f403ff , #b227fd);
color: #fff;
min-height: 100vh;
font-family:  'Poppins', sans-serif;
}


header{
    font-size: 1.19rem;
    display: flex;
    justify-content: center;

}
h1{
    margin-top:0.5rem;
    min-height:1rem;
    margin-bottom:2rem;
}


form{
    /* min-height: 20vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 1.18rem;
    border:none;
    background: white;
    

}

form button{
    color:#ab12fe;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

form button:hover{
background: #ab12fe;
color: #fff;
}

.todo-container{
    display:flex;
    justify-content: center;
    align-items: center;

}

.todo-list{
min-width: 50%;
list-style: none;
}

.todo{
margin:0.3rem;
background: white;
color: black;
font-size: 1.2rem;
display: flex;
justify-content: space-between;
align-items: center;
transition: all 0.5s ease;

}


.todo li{
flex: 1;
}

.trash-btn, .complete-btn{
    background-color:#ab12fe;
    color: white;
    border: none;
    padding: 0.6rem;
    cursor: pointer;
    font-size: 0.9rem;

}

.complete-btn{
background: rgb(73, 204, 73);
}

.todo-item{
padding: 0rem 0.6rem;
}
.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration:line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity:0;
}

.select{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
outline: none;
box-shadow:none;
border:none;

}

.select{
margin: 1rem;
position: relative;
overflow: hidden;
}

select{
    color:#ab12fe ;
    width: 8rem;
    cursor: pointer;
    padding: 0.5rem;
    border: none;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #b227fd;
    top: 0;
    right:0;
    padding: 0.28rem;
    pointer-events: none;
    border:none;
    transition: all 0.3s ease;

}
.select:hover::after{
    background: #fff;
    color: #ab12fe;

}



/* media query */
@media(min-width:300px) and (max-width:1024px){


    html{
        font-size: 67%;
    }

    header{
        margin-bottom: 3rem;
    }

    section{
        width: 80%;
        margin: 0rem auto 21rem auto;
        flex:1 1 2rem;
        position: absolute;
        top: 34rem;
        right: 3rem;
    }
      /* img{
        min-width:100%;
    
      } */
.undraw{
    width: 70%;
    margin:auto;
    position: absolute;
    top: 11rem;
    right: 3rem;
    flex:1 1 2rem;

}
    
}











